*{
  margin: 0px;
  padding: 0px; /* margen interior de caja*/
}

body {
  margin: 0;
  font-family:cursive;
  width: 100%;
  height: 100vh;
  background-image: url(../src/imag/fondo/fondomadera.PNG);
  background-size: cover;  /*cubrir toda la pag o background-repeat:no repeat; */
  background-position: center; /* se posic en centro*/
  font-size: 100%;
}


.campo {
/*letra interior*/
  color: brown; 
/* espacio*/
  width: 60%;
  height: 550px;
 /* border: 1px solid red;*/
  margin-left: 15%; /*centrar */
  margin-top: 2%;   

/*fondo imag*/
  background-image: url(../src/imag/fondo/hojasf.png)/*otra url to several*/;
  background-size: 100% ;  /*cubrir toda la pag*/
  background-repeat: no-repeat; 
  background-position: center; 
  position: relative/*, otra propiedad, otra prop   */;
}

.titulo { 
  text-align: center;
  width: 70%;
  height: 8%;
  padding-top: 12%;
  margin-left: 15%;
  font-size: 180%;
 /* border: 1px solid blue;*/
}

.cuerpo {
  /*clear: both;*/
  text-align: left;
  padding-top: 3%;
  padding-left: 2%;
  font-size: 120%;
  width: 68%;   /* no debería ser 75% del padre */
  margin-left: 15%;
  height: 210px;
  /* border: 1px solid rgb(25, 151, 82); */
 
}

.texto_box{
background-color: transparent;
border:2px solid chocolate;
border-radius: 10px;
font-family: cursive;
color:brown;
font-size:medium;   
width: 15%;

}


#entradaw{
width: 85%;
height: 30%;

}

#clavew {
width: 15%;
height: 10%;
text-align: center;
}

.lineas{
padding-bottom: 0%;
margin-bottom:0px ;

}

.botones{
  width:18%;
  height: 9%;
  background-color: rgb(179, 87, 22);
  color:burlywood; 
  font-size: 50%;
  font-family:cursive;
  border:none; 
  border-radius: 10px;
  cursor: pointer;
  margin-top: 3%;
  transition: .3s ease all;   /* anim*/
  margin-left: 15%;
  margin-right: 15%;
}

.botones:hover{
  background: chocolate;
}


.ppal{
height: auto;
position: absolute;
/*border: 1px solid rgb(25, 44, 151);*/
}

/*para pagina 1*/

#ladronpag1{
right: 18% ;
bottom: 40%;
width:14%;
}
#vspag1{
right: 45% ;
bottom: 42%;
width:12%;
}
#detectivepag1{
left: 18%;
bottom: 42%;
width:18%;

}

#jugar{
margin-left: 40%; 
}

/*........................*/


#ladron{
right: 8% ;
bottom: 4%;
width:7%;
}
#vs, #secr{
right: 45% ;
bottom: 5%;
width:8%;
}
#detective{
left: 8%;
bottom: 5%;
width:10%;
}

#salida_etiq{ 

width:85%;
height:30%;
margin-top: 0%;

}

/*  para mapa..........................*/
.imagenes, .foto {

background-color: transparent;
display: inline-block;
width: 10% ;
grid-template-columns:repeat(5,1fr) ;



} 
.imagenes{
text-align: left;
}
.foto{
text-align: right;
}

#grilla_print {
margin-left: 2%;
}

#pag2, #pag3, #pag4, #pag5, #pag6, #pag7  {
/*    visibility: hidden; */
}
